.section-title {
    position: relative;
    display: inline-block; /* أو block */
    margin-bottom: 1rem;
  }
  
  .section-title::after {

    content: "";
    position: absolute;
    left: 10%;
    bottom: -10px; /* المسافة بين النص والخط */
    width: 80%;  /* طول الخط */
    height: 4px;  /* سمك الخط */
    background-color: #3b82f6; /* أزرق Tailwind 500 */
    border-radius: 1px;
  }
  