@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .max-h-500 {
      max-height: 500px;
    }
  
    .max-h-400 {
      max-height: 400px;
    }
  
    .max-h-300 {
      max-height: 300px;
    }
  }
  